<form id="model_form" action="" method="post" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="table-responsive">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td class="col-lg-2">
                        <label for="companyID" control-label="">
                            Supplier
                            <strong style="color: red">*</strong>
                        </label>
                    </td>
                    <td>
                        {% include 'companySelect.html' %}
                    </td>
                </tr>
                <tr>
                    <td class="col-lg-2">
                        <label for="queryType" control-label="">
                            Query Type
                            <strong style="color: red">*</strong>
                        </label>
                    </td>
                    <td>
                        <select id="queryType" name="queryType" required="">
                            <option value="">-- Select One --</option>
                            <option value="1">PO Search</option>
                            <option value="2">SO Search</option>
                            <option value="3">Last Update Search</option>
                            <option value="4">All Open Orders</option>
                        </select>
                        <span class="help-block">Enter the desired Query Type.</span>
                    </td>
                </tr>
                <tr id="refNumTR">
                    <td class="col-lg-2">
                        <label for="refNum" control-label="">
                            Reference Number
                        </label>
                    </td>
                    <td>
                        <input class="form-control" id="refNum" name="refNum" placeholder="PO or SO Reference Number"
                            required="" type="text" value="{{refNum}}">
                        <span class="help-block">Enter the PO or SO Reference Number you want to check for status.</span>
                    </td>
                </tr>
                <tr id="refDateTR">
                    <td class="col-lg-2">
                        <label for="refDate" control-label="">
                            Begin Date
                        </label>
                    </td>
                    <td>
                         <div class="input-group date appbuilder_date" id="datepicker">
                            <span class="input-group-addon"><i class="fa fa-calendar cursor-hand"></i></span>
                            <input class="form-control" data-format="yyyy-MM-dd" id="refDate" name="refDate" placeholder="YYYY/MM/DD"
                                type="text" value="{{refDate}}"></div>
                        <span class="help-block">Enter the beginning date from which you want to check for status.</span>
                    </td>
                </tr>
                <tr>
                    <td class="col-lg-2">
                        <label for="return_type" control-label="">
                            Return Type
                        </label>
                    </td>
                    <td>
                        {% include 'returnTypeSelect.html' %}
                    </td>
                </tr>
            </tbody>
            </table>
       </div>
    </div>
    <div class="well well-sm">
            <button type="submit" class="btn  btn-sm btn-primary">Submit
                <i class="fa fa-save"></i></button>
    </div>
</form>
