**.pyc
app.db
./tmp
./build/*
.idea
venv
*__pycache__*
2zappa_settings.json
.vscode/tags
*.sublime*
docker/build.sh
docker/dev-build.sh
docker-compose.yml
test.*
app-bak
**.bak
**.swp
first_start.sh
main2.py
sync2vernon.sh
sxbase.py
.vscode
