# choose your server in start.sh
gunicorn
eventlet
# or uwsgi (only if using cpython instead of pypy3)
uWSGI

requests
flask-appbuilder
boto3
suds-py3
mysqlclient
schema
# zappa
# used on developement
pysnooper
xmljson
