{% extends "appbuilder/base.html" %}
{% block head_css %}
{{ super() }}
<style>
        .alert-error {background-color: coral;font-size: large;}
</style>
{% endblock %}
{% block content %}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">{{form_title}}
                <a class="fa fa-question-circle" style="float:right;padding-right:10px;"
                href="https://github.com/VernonCo/ps_utils/wiki/Shipping-Status-Form"
                target="_blank">Help</a>
        </h4>
    </div>
    <div id="Home" class="tab-pane active">
        {% include service_path + '/form.html' %}
    </div>
</div>
{% endblock %}


{% block tail %}
<script  type="text/javascript" charset="utf8" src="{{url_for('static',filename='js/orderForm.js')}}"></script>
{% endblock %}
