{% extends "appbuilder/base.html" %}
{% block head_css %}
{{ super() }}
<style>
    .alert-error {background-color: coral;font-size: large;}
</style>
{% endblock %}
{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">{{form_title}}</h4>
    </div>
    <div id="Home" class="tab-pane active">
        <form id="model_form" action="" method="post" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td class="col-lg-2">
                                <label for="companyID" control-label="">
                                    Supplier
                                    <strong style="color: red">*</strong>
                                </label>
                            </td>
                            <td>
                                {% include 'companySelect.html' %}
                            </td>
                        </tr>
                        <tr>
                            <td class="col-lg-2">
                                <label for="productID" control-label="">
                                    Product SKU
                                    <strong style="color: red">*</strong>
                                </label>
                            </td>
                            <td>
                                <input class="form-control" id="productID" name="productID" placeholder="Product SKU"
                                    required="" type="text" value="{{prodID}}">
                                <span class="help-block">Enter the SKU for the Item you want to check for
                                    inventory.</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-lg-2">
                                <label for="serviceType" control-label="">
                                    Service
                                    <strong style="color: red">*</strong>
                                </label>
                            </td>
                            <td>
                                <select id="serviceType" name="serviceType" required="">
                                    <option value="">-- Select One --</option>
                                    <option value="getFilterValues">Get Filters</option>
                                    <option value="getInventoryLevels" selected>Get Results</option>
                                </select>
                                <span class="help-block">Enter the desired service call.</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-lg-2">
                                <label for="returnType" control-label="">
                                    Return Type
                                    <strong style="color: red">*</strong>
                                </label>
                            </td>
                            <td>
                                {% include 'returnTypeSelect.html' %}
                            </td>
                        </tr>
                        <tr>
                            <td class="col-lg-2">
                                <label for="serviceVersion" control-label="">
                                    Service Version
                                    <strong style="color: red">*</strong>
                                </label>
                            </td>
                            <td>
                                <select id="serviceVersion" name="serviceVersion" required="">
                                    <option value="" selected> -- Select -- </option>
                                    <option value="V1">1.x.x</option>
                                    <option value="V2">2.x.x</option>
                                </select>
                                <span class="help-block">Auto selects latest version for selected Company.  Version 2 provides inventory by location.</span>
                            </td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
            <div class="well well-sm">
                    <button type="submit" class="btn  btn-sm btn-primary">Submit
                        <i class="fa fa-save"></i></button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
{% block tail %}
<script type="text/javascript">
    var csrf_token = "{{ csrf_token() }}";

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
</script>
<script  type="text/javascript" charset="utf8" src="{{url_for('static',filename='js/getVersion.js')}}"></script>
{% endblock %}
