
{% import 'appbuilder/general/lib.html' as lib %}

{% if not table %}
    {% extends "appbuilder/base.html" %}
    {% block head_css %}
    {{ super() }}

    <link type="text/css" href="{{url_for('static',filename='DataTables-1.10.18/css/jquery.dataTables.min.css')}}" rel="stylesheet">
    <link type="text/css" href="{{url_for('static',filename='jquery-ui-1.12.1/jquery-ui.theme.min.css')}}" rel="stylesheet">
    <style>
        .panel-primary .panel-heading, .panel-success .panel-heading, .panel-warning .panel-heading,
        .panel-danger .panel-heading, .panel-info .panel-heading, .panel-primary .panel-title,
        .panel-success .panel-title, .panel-warning .panel-title, .panel-danger .panel-title,
        .panel-info .panel-title {
            color: #0f87ec;
            }
    </style>

    {% endblock %}
{% endif %}

{% block content %}

    <div class="panel panel-primary">
        {% if not table %}
            {% call lib.accordion_tag('requestForm',form_title, False) %}
            {% include 'inventory/form-inline.html' %}
            {% endcall %}
        {%endif %}
        {% call lib.accordion_tag('productTable',data['vendorName'] + " Listings for Product ID #" +productID, True) %}
        {% if data['errorMessage'] %}
            <div>
                <h3>{{data['errorMessage']}}</h3>
            </div>
        {% else %}
        <table id="resultsTable1" class="order-column table-striped center" width="100%">
            <thead>
                <tr>
                <!-- found Brand and partID to be optional in returns -->
                    {% if 'brand' in checkRow and checkRow['brand'] %}
                        {% set brand = "1" %}
                        <th>Brand</th>'
                    {% endif %}
                    {% if 'partID' in checkRow and checkRow['partID'] %}
                        {% set productNo = "1" %}
                        <th>Part ID</th>
                    {% endif %}
                    <th>Description</th>
                    <th>Quantity</th>
                    {% if 'attributeColor' in checkRow and checkRow['attributeColor'] %}
                        {% set color = "1" %}
                        <th>Color</th>
                    {% endif %}
                    {% if 'attributeSize' in checkRow and checkRow['attributeSize'] %}
                        {% set size = "1" %}
                        <th>Size</th>
                    {% endif %}
                    <th>Extra Attr</th>
                    {% if 'entryType' in checkRow and checkRow['entryType'] %}
                        {% set entryType = "1" %}
                        <th class="hidden-xs center">Entry Type</th>
                    {% endif %}
                    <th class="hidden-xs">Timestamp</th>
                    <th class="hidden-xs">Msg?</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data['ProductVariationInventoryArray']['ProductVariationInventory'] %}
                    <tr class="{{ loop.cycle('odd', 'even') }}">
                        {% if brand %}
                        <td>&nbsp;{{row.brand}}&nbsp;</td>
                        {% endif %}
                        {% if productNo %}
                        <td>{{row.partID}}&nbsp;</td>
                        {% endif %}
                        <td>&nbsp;{{row.partDescription}}&nbsp;</td>
                        <td style="text-align: right;">{{row.quantityAvailable}}&nbsp;</td>
                        {% if color %}
                        <td>&nbsp;{{row.attributeColor}}&nbsp;</td>
                        {% endif %}
                        {% if size %}
                        <td class="center">{{row.attributeSize}}</td>
                        {% endif %}
                        <td style="text-align: right;">
                        {% if 'AttributeFlexArray' in row and 'AttributeFlex' in row.AttributeFlexArray %}
                            <table class="table table-bordered">
                                <tbody>
                                    {% for extra in row.AttributeFlexArray.AttributeFlex %}
                                    <tr>
                                        <td>ID: {{extra.id}} </td>
                                        <td>Name: {{extra.name}} </td>
                                        <td>Value: {{extra.value}} </td>
                                    </tr>
                                    {%endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                        </td>
                        {% if entryType %}
                        <td style="text-align: right;">{{row.entryType}}</td>
                        {% endif %}
                        <td>&nbsp;{{row.validTimestamp}}</td>
                        <td class="center">{% if 'customProductMessage' in row %} {{row.customProductMessage}} {% endif %}</td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
        {% endif %}
        {% endcall %}
    {% if 'ProductCompanionInventoryArray' in data
        and 'ProductCompanionInventory' in data.ProductCompanionInventoryArray
        and data.ProductCompanionInventoryArra.ProductCompanionInventory %}
        {% set brand, productNo, color, size, entryType = (0,0,0,0,0) %}
        {% set checkRow = data.ProductCompanionInventoryArra.ProductCompanionInventory[0] %}

        {% call lib.accordion_tag('companionTable',"Companion Products", True) %}
        <table id="resultsTable2" class="table table-condensed table-bordered table-hover gradienttable">
            <thead>
                <tr>
                        {% if 'brand' in checkRow and checkRow['brand'] %}
                        {% set brand = "1" %}
                        <th class="center">Brand</th>'
                    {% endif %}
                    {% if 'partID' in checkRow and checkRow['partID'] %}
                        {% set productNo = "1" %}
                        <th>Part ID</th>
                    {% endif %}
                    <th class="center">Description</th>
                    <th class="center">Quantity</th>
                    {% if 'attributeColor' in checkRow and checkRow['attributeColor'] %}
                        {% set color = "1" %}
                        <th class="center">Color</th>
                    {% endif %}
                    {% if 'attributeSize' in checkRow and checkRow['attributeSize'] %}
                        {% set size = "1" %}
                        <th class="center">Size</th>
                    {% endif %}
                    <th class="center">Extra Attr</th>
                    {% if 'entryType' in checkRow and checkRow['entryType'] %}
                        {% set entryType = "1" %}
                        <th class="hidden-xs">Entry Type</th>
                    {% endif %}
                    <th class="hidden-xs">Timestamp</th>
                    <th class="hidden-xs">Msg?</th>
                </tr>
            </thead>
            <tbody>
                    {% for row in data.ProductCompanionInventoryArra.ProductCompanionInventory %}
                    <tr class="{{ loop.cycle('odd', 'even') }}">
                        {% if brand %}
                        <td>&nbsp;{{row.brand}}&nbsp;</td>
                        {% endif %}
                        {% if productNo %}
                        <td>{{row.partID}}&nbsp;</td>
                        {% endif %}
                        <td>&nbsp;{{row.partDescription}}&nbsp;</td>
                        <td style="text-align: right;">{{row.quantityAvailable}}&nbsp;</td>
                        {% if color %}
                        <td>&nbsp;{{row.attributeColor}}&nbsp;</td>
                        {% endif %}
                        {% if size %}
                        <td style="text-align: center;">{{row.attributeSize}}</td>
                        {% endif %}
                        <td style="text-align: right;">
                        {% if 'AttributeFlexArray' in row and 'AttributeFlex' in row.AttributeFlexArray %}
                            <table class="table table-bordered">
                                <tbody>
                                    {% for extra in row.AttributeFlexArray.AttributeFlex %}
                                    <tr>
                                        <td>ID: {{extra.id}} </td>
                                        <td>Name: {{extra.name}} </td>
                                        <td>Value: {{extra.value}} </td>
                                    </tr>
                                    {%endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                        </td>
                        {% if entryType %}
                        <td style="text-align: right;">{{row.entryType}}</td>
                        {% endif %}
                        <td>&nbsp;{{row.validTimestamp}}</td>
                        <td style="text-align: center;">{% if 'customProductMessage' in row %} row.customProductMessage{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endcall %}
    {%endif %}
</div>

{% endblock %}
{% block tail %}
<script type="text/javascript">
    var csrf_token = "{{ csrf_token() }}";

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
</script>
<script  type="text/javascript" charset="utf8" src="{{url_for('static',filename='DataTables-1.10.18/js/jquery.dataTables.min.js')}}"></script>
<script  type="text/javascript" charset="utf8" src="{{url_for('static',filename='js/getVersion.js')}}"></script>
<script>
    $(document).ready( function () {
        $('#resultsTable1').DataTable( );
        $('#resultsTable2').DataTable();
    } );
</script>
{% endblock %}
