
{% import 'appbuilder/general/lib.html' as lib %}

{% if not table %}
    {% extends "appbuilder/base.html" %}
    {% block head_css %}
    {{ super() }}

    <link type="text/css" href="{{url_for('static',filename='DataTables-1.10.18/css/jquery.dataTables.min.css')}}" rel="stylesheet">
    <link type="text/css" href="{{url_for('static',filename='jquery-ui-1.12.1/jquery-ui.theme.min.css')}}" rel="stylesheet">
    <style>
        .panel-primary .panel-heading, .panel-success .panel-heading, .panel-warning .panel-heading,
        .panel-danger .panel-heading, .panel-info .panel-heading, .panel-primary .panel-title,
        .panel-success .panel-title, .panel-warning .panel-title, .panel-danger .panel-title,
        .panel-info .panel-title {
            color: #0f87ec;
            }
    </style>

    {% endblock %}
{% endif %}

{% block content %}

    <div class="panel panel-primary">
        {% if not table %}
            <a class="fa fa-question-circle" style="float:right;padding-right:10px;"
                href="https://github.com/VernonCo/ps_utils/wiki/Inventory-Form"
                target="_blank">Help</a>
            {% call lib.accordion_tag('requestForm',form_title, False) %}
            {% include 'inventory/form-inline.html' %}
            {% endcall %}
        {%endif %}
        {% call lib.accordion_tag('productTable',data['vendorName'] + " Listings for Product ID #" + prodID, True) %}
        {% if data['errorMessage'] %}
            <div>
                <h3>{{data['errorMessage']}}</h3>
            </div>
        {% else %}
        <table id="resultsTable1" class="order-column table-striped" width="100%">
            <thead>
                <tr>
                <!-- found Brand and partID to be optional in returns -->
                    <th>Part ID</th>
                    <th class="center">Main Part</th>
                    {% if 'partDescription' in checkRow and checkRow.partDescription %}
                        {% set partDescription = "1" %}
                    <th class="center">Description</th>
                    {% endif %}
                    {% if 'quantityAvailable' in checkRow and checkRow.quantityAvailable %}
                        {% set quantityAvailable = "1" %}
                    <th class="center">Quantity UOM</th>
                    {% endif %}
                    {% if 'partColor' in checkRow and checkRow.partColor %}
                        {% set color = "1" %}
                        <th class="center">Color</th>
                    {% endif %}
                    {% if 'labelSize' in checkRow and checkRow.labelSize %}
                        {% set size = "1" %}
                        <th class="center">Size</th>
                    {% endif %}
                    {% if 'attributeSelection' in checkRow and checkRow.attributeSelection %}
                        {% set attributeSelection = "1" %}
                        <th class="center">Extra Attr.</th>
                    {% endif %}
                    <th class="hidden-xs center">Manfg. on Demand</th>
                    <th class="hidden-xs center">Buy to Order</th>
                    {% if 'replenishmentLeadTime' in checkRow and checkRow.replenishmentLeadTime %}
                        {% set replenishmentLeadTime = "1" %}
                    <th class="hidden-xs center">Lead Time</th>
                    {% endif %}
                    {% if 'InventoryLocationArray' in checkRow and checkRow.InventoryLocationArray and 'InventoryLocation' in checkRow.InventoryLocationArray %}
                        {% set InventoryLocationArray = "1" %}
                    <th class="hidden-xs center">Locations</th>
                    {% endif %}
                    {% if 'lastModified' in checkRow %}
                        {% set lastModified = "1" %}
                    <th class="hidden-xs center">Last Modified</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for row in data['Inventory']['PartInventoryArray']['PartInventory'] %}
                    <tr class="{{ loop.cycle('odd', 'even') }}">
                        <td>{{row['partId']}}&nbsp;</td>
                        <td>&nbsp;{{row['mainPart']}}&nbsp;</td>
                        {% if partDescription %}
                        <td>&nbsp;{{row['partDescription']}}&nbsp;</td>
                        {% endif %}
                        <td style="text-align: right;">{{row['quantityAvailable']['Quantity']['value']}}&nbsp;{{row['quantityAvailable']['Quantity']['uom']}}&nbsp;</td>
                        {% if color %}
                        <td>&nbsp;{{row['partColor']}}&nbsp;</td>
                        {% endif %}
                        {% if size %}
                        <td style="text-align: center;">{{row['labelSize']}}</td>
                        {% endif %}
                        {% if attributeSelection %}
                        <td style="text-align: right;">{{row['attributeSelection']}}</td>
                        {% endif %}
                        <td>{{row.manufacturedItem}}</td>
                        <td style="text-align: right;">{{row['buyToOrder']}}</td>
                        {% if replenishmentLeadTime %}
                        <td style="text-align: right;">{{row['replenishmentLeadTime']}}</td>
                        {% endif %}
                        {% if InventoryLocationArray %}
                        <td style="text-align: right;">
                            <table class="table table-bordered">
                                <tbody>
                                    {% for location in row['InventoryLocationArray']['InventoryLocation'] %}
                                    <tr>
                                        <td>Location ID: {{location['inventoryLocationId']}} </td>
                                        {% if 'inventoryLocationName' in location %}
                                        <td>Location Name: {{location['inventoryLocationName']}} </td>
                                        {% endif %}
                                        <td>Postal Code: {{location['postalCode']}} </td>
                                        <td>Country: {{location['country']}} </td>
                                        {% if 'inventoryLocationQuantity' in location %}s
                                        <td>Quantity UOM: {{location['inventoryLocationQuantity']['Quantity']['value']}} {{location['inventoryLocationQuantity']['Quantity']['uom']}} </td>
                                        {% endif %}
                                        {% if 'FutureAvailabilityArray' in location and 'FutureAvailability' in location['FutureAvailabilityArray'] %}
                                        <td>Future Avail:
                                            {{location['inventoryLocationQuantity']['Quantity']['value']}} {{location['inventoryLocationQuantity']['Quantity']['availableOn']}} </td>
                                        {% endif %}
                                    </tr>
                                    {%endfor %}
                                </tbody>
                            </table>
                        </td>
                        {% endif %}
                        {% if lastModified %}
                        <td>&nbsp;{{row['validTimestamp']}}</td>
                        {% endif %}
                    </tr>
                {% endfor %}

            </tbody>
        </table>
        {% endif %}
        {% endcall %}
</div>

{% endblock %}
{% block tail %}
<script type="text/javascript">
    var csrf_token = "{{ csrf_token() }}";

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
</script>
<script  type="text/javascript" charset="utf8" src="{{url_for('static',filename='DataTables-1.10.18/js/jquery.dataTables.min.js')}}"></script>
<script  type="text/javascript" charset="utf8" src="{{url_for('static',filename='js/getVersion.js')}}"></script>
<script>
    $(document).ready( function () {
    $('#resultsTable1').DataTable( );
    $('#resultsTable2').DataTable();
} );
</script>
{% endblock %}
