{% extends "appbuilder/base.html" %}
{% block head_css %}
{{ super() }}
<style>
    p {padding: 0 10px 0 15px;}
</style>
{% endblock %}
{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Instructions for submitting a PO</h4>
    </div>
    <div class="well">
        <p style="text-align: center; font-weight: bold; color: red;">
            When testing...Make sure that you create a companyID that is either:
        </p>
        <p style="text-align: center; font-weight: bold;">
            Hitting '/jsonpo/receiveTest/' for it's po_url
        </p>
        <p style="text-align: center; font-weight: bold; color: red;">
            OR
        </p>
        <p style="text-align: center; font-weight: bold;">
            The po_url and po_wsdl of the requested companyID are pointing to the company test site!
        </p>
    </div>
    <div>
        <p>
            POST a json formated PO to '/jsonpo/index/'.  The endpoint will validate the json, schema,
            field names, and their value types before submitting a soap request to the company passed.
        </p>
        <p>
            If the submission fails validation, it will return a 400 status and an object:
        </p>
        <p style="padding-left: 20px;">
            {ServiceMessageArray:[ServiceMessage: {code:999, description: the error}]}
        </p>
        <p>
            Required fields in the post:
            <ul>
                <li>companyID (DB id for the company summitting the request to)</li>
                <li>PO (object following the WSDL schema)</li>
            </ul>
        </p>
        <p>
            See the 'exampleSimplePO.json' file.  It can be exchanged for your json submission and tested
            using a GET '/jsonpo/test/' which will return either what is being sent via a soap request or
            validation errors.<br/>
        </p>
        <p>
            As with all the services, it is possible to
            <a href="https://flask-appbuilder.readthedocs.io/en/latest/addons.html">add a plugin</a> to import
            and directly access the methods rather than POSTing to the service
        </p>
    </div>
</div>
{% endblock %}
